<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Template - Directives</title>
  </head>
  <body>
    <div id="app">
      <p v-if="flag">(v-if)Just-do-it! Vue.js</p>
      <ul>
        <li v-for="system in systems">(v-for){{ system }}</li>
      </ul>
      <p v-show="flag">(v-show)Just-do-it! Vue.js</p>
      <h5 v-bind:style="styleAttr">(v-bind)Stylesheet</h5>
      <button v-on:click="toggleFlagData">(v-on)Flag-Toggle</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script>
      new Vue({
        data: {
          flag: true,
          systems: ['android', 'ios', 'windows'],
          styleAttr: 'color: blue'
        },
        methods: {
          toggleFlagData: function(event) {
            console.log(event);
            this.flag = !this.flag;
            return alert('toggled');
          }
        }
      }).$mount('#app');
    </script>
  </body>
</html>
